<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Username" value="Service"/>
    <add key="Password" value="(ddfaEsg£$£2223FH={sS}eeFQw568aGma8 84564£!)%%"/>
    <add key="InputKey" value="=={aG4093hHLLMmm458==854MLLHh3904a}=="/>
    <add key="SaltKey" value="s{ew3=--34AccaEDk3De40sks£2}sSed3341ld"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="UniverseBinding"/>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51822/Universe.svc" binding="webHttpBinding" bindingConfiguration="UniverseBinding"
                contract="UninverseWcf.IUniverse" name="UniverseTester" behaviorConfiguration="Tester.EndpointUniverse"
                kind="webHttpEndpoint" endpointConfiguration="">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="Tester.EndpointUniverse">
            <webHttp defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" />
            <endpointDiscovery />
            <dataContractSerializer />
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>